* {
    margin: 0;
    padding: 0;
}

#title {
    margin: 1em auto;
    width: 25%;
    text-align: center;
}

#todo-entry {
    margin: 1.5em auto;
    width: 50%;
    /* border: 1px solid black; */
    align-content: center;
    text-align: center;
}

#date {
    margin: 1em auto;
}

#reset {
    margin: .35em;
}

#todo-container {
    margin: 1.5em auto;
    width: 75%;
    border: 1px solid black;
}

li {
    list-style-type: none;
    text-align: center;
}