* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 44%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifS;
}

#title {
    margin: .5em auto;
    width: 25%;
    text-align: center;
}

#todo-entry {
    margin: 1em auto;
    width: 60%;
    /* border: 1px solid black; */
    align-content: left;
    text-align: center;
}

#date-time {
    width: 75%;
    margin: 1em auto .5em auto;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-evenly; */
}

#date {
    margin-bottom: .3em;   
}

#date, #time {
    max-width: 142px;
}


#todo-container {
    margin: 1.5em auto;
    width: 80%;
    /* border: 1px solid black; */
}

li {
    list-style-type: none;
    text-align: center;
}

input {
    border-radius: 5px;
}

.todo {
    margin: .5em auto;
    width: 90%;
    max-width: 350px;
    /* border: 1px solid black; */
    background-color: blue;
    color: white;
    height: 2.5em;
    border-radius: 5px;
    /* padding: .025em; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

/* p {
    border: 1px solid black;
} */

.todo button, li p {
    /* height: 1.5em; */
    margin-right: .5em;
    margin-left: .5em;
}

button {
    padding: .15em;
}

#add_btn {
    font-size: 16px;
    background-color: rgb(8, 117, 8);
    padding: .35em .45em;
    color: white;
    border: none;
}

#add_btn:hover {
    border: solid black 2px;
}

     